@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:800,700,400|Lato);
@import url(http://fonts.googleapis.com/css?family=Signika:400,600);

img {
	max-width: 100%;
}
a, a:hover, a:active {
	outline: 0px !important;
	text-decoration:none;
}
.clearfix:before, .clearfix:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix:after {
	clear: both;
}

/* Common style */
.grid figure {
	position: relative;
	/* float: left; */
	overflow: hidden;
	min-width: 50%;
	/* max-width: 480px;
	max-height: 360px; */
	text-align: center;
	cursor: pointer;
}
.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}
.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}
.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}
.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.grid figure h2 span {
	font-weight: 800;
}
.grid figure h2,
.grid figure p {
	margin: 0;
}
.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Oscar *****/
/*---------------*/

figure.effect-oscar figcaption {
	padding: 3em;
}
figure.effect-oscar figcaption::before {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: 20px;
	left: 20px;
	border: 1px solid black;
	content: '';
}
figure.effect-oscar h2 {
	margin: 10% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
	color:#A3A3A3;
}
figure.effect-oscar figcaption::before,
figure.effect-oscar p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0);
	transform: scale(0);
}
figure.effect-oscar:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	color: black;
}
figure.effect-oscar:hover figcaption::before,
figure.effect-oscar:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	color: black;
	/* +++++++ */
}
figure.effect-oscar:hover figcaption {
	background-color: rgba(58,52,42,0);
}
figure.effect-oscar:hover img {
	opacity: 0.4;
}

/* Styles
---------------------------------*/
body {
	background: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #888888;
	margin: 0;
	min-width: 40em;
}
h2 {
	font-size: 40px;
	color: #222222;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 6px;
	margin-top: 40px;
}
h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #222222;
	font-size: 18px;
	margin: 0 0 5px 0;
	text-transform: uppercase;
}
h6 {
	color: rosybrown;
	font-family: 'Raleway', sans-serif;
}
p {
	line-height: 24px;
	margin: 0;
}

/* Header Styles
---------------------------------*/
#header_wrapper {
	background: #ffffff;
	padding: 10px 0px;
	border-top: bisque;
	box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.44);
	border-bottom: 2px solid #D2D2D2;
}
.header_box {
	position: relative;
}
.logo {
	float: left;
	width: 55px;
	height: auto;
	position: relative;
	z-index: 2;
}
.res-nav_click {
	display: none;
}	

/* Nav Styles
---------------------------------*/
.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}
.navbar {
	min-height: 40px;
	margin-bottom: 0px;
}
.navbar-inverse .navbar-nav > li > a {
	color: #222;
}
.navStyle {
	float: right;
}
.navStyle ul {
	list-style: none;
	padding: 0px;
}
.navStyle ul li {
	display: inline-block;
	margin: 0 2px;
}
.navStyle ul li a {
	display: block;
	font-size: 14px;
	color: #222222;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: rosybrown;
	background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: rosybrown;
	background-color: transparent;
}
/* .navStyle > li.active > a,
.navStyle > li.active > a:hover {
	text-decoration: none;
	color: #ED5441;
	background-color: transparent;
} */

/* Top_content
---------------------------------*/

.top_cont_outer {
	background: url(../img/back/3.gif);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	height: 720px;
}
.hero_section {
	position: relative;
	padding-top: 72px;
}
.top_left_cont {
	padding: 50px 0;
	text-align: center;
}
.top_left_cont h2 strong {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	letter-spacing: 15px;
}
.top_left_cont p {
	color: white;
	letter-spacing: 3px;
}
a:focus {
	text-decoration: none;
	color: rosybrown;
}
.main-btn {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	font-weight: 550;
	background: transparent;
	border: 1px solid #fff;
	padding: 12px;
	letter-spacing: 5px;
	margin-right: 20px;
}
.main-btn:hover {
	background: #fff;
	color: rosybrown;
}

/* Services
---------------------------------*/
#service {
	padding: 50px 0;
	background: #69779b;	
}
#service h2{
	color: #fff;
	margin: 40px 0;
}
.service_wrapper {
	padding: 20px 0 40px;
}
.service_block {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px; 
	position: relative;
}
.service_icon {  
	width: 150px;
	height: 150px;
	margin: 0px auto 25px; 
}
.service_icon span {
	background: transparent; 
	display: block;
	height: 100%;
	width: 100%;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-top:30px;
}
.service_icon i {
	color: #FFFFFF;
	font-size: 75px;
	margin-top: 0;
	position: relative;
	top: 38px;
	z-index: 20;
	display: block;
	text-align: center;
}
.redux {
	color: #FFFFFF;
	width: 75px;
	height: auto;
	margin-top: 0;
	position: relative;
	top: 28px;
	left: 35px;
	z-index: 20;
	display: block;
	text-align: center;
}
.service_block h3 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #fff;
	margin: 35px 0 15px; 
	letter-spacing: 5px;
}
#service h6{
	color:#fff;
}
.service_block p {
	font-size: 16px;
	color: #fff;
	margin: 0 0 35px 0; 
}
	


/* Latest Work
---------------------------------*/


#work_outer {
    background: #f9f9f9;
    padding: 70px 0px;
    position: relative;
}

.work_pic {
    position: absolute;
    right: 0;
    top: 25%;
    width: 50%;
}

.inner_section {
    padding: 0px;
}

.service-list {
    padding: 0 0 0 0;
    font-size: 14px;
    margin-bottom: 40px;
}

.service-list-col1 {
    float: left;
    width: 60px;
    text-align: center;
}

.service-list-col1 i {
    /* display:; */
    color: #888;
    font-size: 19px;
    font-style: normal;
    line-height: 20px;
}

.service-list-col2 {
    overflow: hidden;
}

.page_section.alabaster {
    background: #fafafa;
}

.work_bottom {
    padding: 20px 0 0 0px;
}

.work_bottom span {
    font-size: 18px;
    color: #333333;
    display: block;
    margin: 0 0 20px 0;
}

a.contact_btn {
    background: #fff;
    text-transform: uppercase;
    display: block;
    width: 176px;
    height: 49px;
    text-align: center;
    line-height: 49px;
    font-size: 16px;
    color: #ED5441;
    border-radius: 3px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border: 2px solid #ED5441;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
}

a.contact_btn:hover {
    background: #ED5441;
    color: #fff;
}

.input-text {
    background: transparent;
}


/* Portfolio
---------------------------------*/
.Portfolio-nav {
    padding: 0;
    margin: 0 0 45px 0;
    list-style: none;
    text-align: center;
}

.Portfolio-nav li {
    margin: 0 10px;
    display: inline;
}

.Portfolio-nav li a {
    display: inline-block;
    padding: 10px 22px;
    font-size: 12px;
    line-height: 20px;
    color: #222222;
    border-radius: 4px;
    text-transform: uppercase;
    background: #f7f7f7;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-nav li a:hover {
    background: #ED5441;
    color: #fff;
    text-decoration: none;
}

.portfolioContainer {
    margin: 0 auto;
    padding-left: 15px;
    width: auto !important;
}

.Portfolio-box {
    text-align: center;
    width: 350px;
    overflow: hidden;
    float: left;
    padding: 12px 0px;
}

.Portfolio-box img {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.Portfolio-box img:hover {
    opacity: 0.6;
}

.Portfolio-nav li a.current {
    background: #ED5441;
    color: #fff;
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    transition-duration: 0.6s;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}

.page_section.paddind {
    padding-bottom: 60px;
}

/* Clients
---------------------------------*/
#clients {
	padding: 40px 0px;
}

/* About Us
--------------------------- */
#aboutUs {
	padding: 40px 0;
	background: #fff;
}
.about-us{
	margin-top: 50px;
	margin-bottom: 50px;
}
.about-us h3{
	font-size: 24px;
	letter-spacing: 5px;
}
.about-us p{
	padding-top:20px;
}
.about-us img {
	margin-bottom: 20px;
}
.social_links {
	padding: 15px 45px 0px 3px;
	display: flex;
	list-style: none;
}
.social_links li a {
	display: block;
	width: 80px;
	text-align: center;
	font-size: 60px;
	color: gray;
}
.social_links li img {
	border-radius: 80px;
}
.social_links li a:hover, .social_links li a:focus {
	text-decoration: none;
	border-radius: 80px;
}
.email a:hover {
	color: lightblue;
}
.phone a:hover {
	color: lightgreen;
}
.linkedin a:hover {
	color: #0077B5;
}
.github a:hover {
	color: indianred;
}
.medium a:hover {
	color: purple;
}
.points{ 
	margin-bottom: 10px;
	font-size:14px;
	padding-left:0px;
}
.about-us .about-us-list{
	margin-top: 20px;
	list-style: none;
	padding-left:0px;
}
.about-us .points{
	position: relative;
	padding: 5px 0 5px 22px;
}
.about-us .points:before{
	content: "\f058";
	position: absolute;
	font-family: FontAwesome;
	font-size: 1.125em;
	color: rosybrown;
	left: 0px;
}

/* Education
---------------------------------*/
#education {
	padding: 20px 0 30px;
	background: #69779b;
	color: #fff;
}
.education-container {
	margin: 20px 0;
}
.education-container h2 {
	color: white;
}
.education-container .col-md-6 {
	padding: 0px 60px;
}
#education .card {
	border: solid 1px white;
	padding: 30px 35px;
	height: 27em;
	overflow-y: scroll;
	margin-bottom: 20px;
}
#education .card h3 strong {
	color: white;
	font-weight: 600;
	letter-spacing: 1px;
}
.education .card h4 {
	font-size: 16px;
}

/* Contact
---------------------------------*/
.page_section.contact {
	padding: 40px 0px;
}
.contact_section {
	margin: 0 0 80px 0;
	align-content: center;
}
.contact_section h2 {
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
}
.contact_section h6 {
	color: #fff;
	text-align: center;
}
.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form {
	margin: 0px 0;
    min-width: 30em;
	width: 45%;
	text-align: center;
}
.input-text {
	padding: 15px;
	border: 1px solid #ccc;
	width: 100%;
	height: 50px;
	display: block;
	border-radius: 4px;
	font-size: 15px;
	color: #fff;
	margin: 0 0 35px 0;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #fff;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}
.input-text.text-area {
	height: 230px;
	overflow: scroll;
	line-height: 230px;
}
.input-btn {    
	width: 175px;
	height: 50px;
	letter-spacing: 3px;
	background: rosybrown;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 400;
	border: 0px;
	transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
}

.input-btn:hover {
	background: #fff;
	color: #222;
}

/* Footer
---------------------------------*/

.footer_wrapper {
    background: #232323;
}

.footer_bottom {
    border-top: 1px solid #3C3A3A;
    padding: 25px 0;
}

.footer_bottom span {
    display: block;
    font-size: 14px;
    color: #cccccc;
    text-align: center;
}

.footer_bottom span a {
    display: inline-block;
    color: #CE1139;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.footer_bottom span a:hover {
    color: #fff;
}

/* Animation Timers
---------------------------------*/
.delay-02s {
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-03s {
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

.delay-04s {
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.delay-05s {
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-06s {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

.delay-07s {
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

.delay-08s {
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

.delay-09s {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}

.delay-1s {
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
}

.delay-12s {
	animation-delay: 1.2s;
	-webkit-animation-delay: 1.2s;
}


/* Portfolio */	
	
#Portfolio {
	padding: 0 0 100px;
}

/* Portfolio Filters */	

#filters {
	margin-top: 10px;
	margin-bottom: 40px;
	text-align: center;
	display: block;
	float: none;
	z-index: 2;
	position: relative;
}
#filters ul li {
	display: inline-block;
	margin: 0 5px;
}
#filters ul li a {
	display: block;
}
#filters ul li a h5 {
	background: none repeat scroll 0 0 #f7f7f7;
	border-radius: 4px;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	margin-bottom: 5px;
	padding: 10px 22px;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out 0s;
	background: #fff;
	border: #C2C2C2 solid 1px;
	color: #7C7C7C;
}
#filters ul li a:hover h5, #filters ul li a.active h5 {
	background: rosybrown;
	color: #FFFFFF;
	text-decoration: none;
	border: rosybrown solid 1px;
}
.section-title h2 {
	color: #222222;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	letter-spacing: 8px;
	text-transform: uppercase;
	padding: 40px 0;
}
.section-title span {
	display: block;
	color: #888888;
	font-family: 'Open Sans',sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0 0 60px;
	text-align: center;
}

/* Portfolio Items */	

#portfolio_wrapper {
	position: relative;
	padding: 0;
	width: 100%;
	margin: 0 auto;
	display: block;
}

#portfolio_wrapper .one-four {
	margin: 1!important;
	line-height: 0;
	/* width: 60%; */
	padding: 0;
	position: relative;
}

.portfolio-item {
	padding: 0;
	position: relative;
	overflow: hidden;
}

.portfolio-item .portfolio_img {
	/* overflow: hidden; */
	display: block;
	position: relative;
}

.portfolio-item .portfolio_img img {
	width: 100%;
	height: auto;
}

.portfolio-item:hover .item_overlay {
	opacity: 1;
	transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
}

.item_overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	cursor: pointer;
}

.open-project-link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.item_overlay:hover {
    background:rgba(89, 89, 89, 0.7);
}

.item_info {
    position: absolute;
    height: 100px;
    width: 100%;
    top: 50%;
    margin-top: -50px;
    text-align: center;
}

.project_name {
    color: #fff;
    text-transform: uppercase;
    margin-top: 25px;
    opacity: 0;
    font-size: 18px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    position: relative;
    z-index: 10;
}

.portfolio-item:hover .project_name {
    opacity: 1;
    -webkit-transition: opacity .1s .2s;
    -moz-transition: opacity .1s .2s;
    -ms-transition: opacity .1s .2s;
    -o-transition: opacity .1s .2s;
    transition: opacity .1s .2s;
}

.project_catg {
    font-size: 14px;
    color: #fff;
    opacity: 0;
    margin-top: 0px;
    transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
}

.portfolio-item:hover .project_catg {
    opacity: 0.8;
    -webkit-transition: opacity .1s .2s;
    -moz-transition: opacity .1s .2s;
    -ms-transition: opacity .1s .2s;
    -o-transition: opacity .1s .2s;
    transition: opacity .1s .2s;
}

.zoom-icon {
    left: 50%;
    margin-left: -20px;
    position: inherit;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    opacity: 0;
    background: url(images/zoom.png);
    background-size: 40px 40px;
    transition: all 0.3s ease 0.1s;
    -moz-transition: all 0.3s ease 0.2s;
    -webkit-transition: all 0.3s ease 0.2s;
    -ms-transition: all 0.3s ease 0.2s;
    -o-transition: all 0.3s ease 0.2s;
}

.portfolio-item:hover .zoom-icon {
    opacity: 1;
    margin-top: 0px;
    -webkit-transition: opacity .3s .2s, margin-top .3s .2s;
    -moz-transition: opacity .3s .2s, margin-top .3s .2s;
    -ms-transition: opacity .3s .2s, margin-top .3s .2s;
    -o-transition: opacity .3s .2s, margin-top .3s .2s;
    transition: opacity .3s .2s, margin-top .3s .2s;
}
	
	
	
	
/* Portfolio Isotope Transitions */	

.isotope, .isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}



/* Portfolio Expander */	
#project-page-button-fullscreen {
    height: auto;
    z-index: 100;
    position: absolute;
    right: 30px;
    top: 30px;
}

#project-page-button-fullscreen li {
    display: inline-block;
    font-size: 30px;
}

#project-page-button-fullscreen li a {
    background: url(images/close.png) no-repeat #fff;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50px;
    opacity: 0.5;
}

#project-page-button-fullscreen li a:hover {
    opacity: 1;
}

#project-page-button {
    text-align: center;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    z-index: 100;
}

#project-page-button li {
    display: inline-block;
    margin: 60px 10px 0px 10px;
    font-size: 30px;
}

.project-section-title {
    text-align: center;
    margin-bottom: 40px;
}

.project-section-title h1 {
    margin-bottom: 5px!important;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.project-page {
    background-color: #FFF;
    width: 100%;
    height: auto;
	left: 0;	
    padding-bottom: 40px;
}

	
/* Portfolio*/	
	
	
.project-image-slider .bx-wrapper .bx-next {
    background: url("images/project_slider_right.png") no-repeat;
    background-size: 35px 65px;
    opacity: 0.3;
    right: -90px;
}

.project-image-slider .bx-wrapper .bx-prev {
    background: url("images/project_slider_left.png") no-repeat;
    background-size: 35px 65px;
    opacity: 0.3;
    left: -90px;
}

.project-image-slider .bx-wrapper .bx-next:hover, .project-image-slider .bx-wrapper .bx-prev:hover {
    opacity: 1;
    background-position: 0;
}

.project-image-slider .bx-wrapper .bx-controls-direction a {
    height: 65px;
    margin-top: -33px;
    outline: 0 none;
    position: absolute;
    text-indent: -9999px;
    top: 50%;
    width: 35px;
    z-index: 100;
}
	
/* Portfolio Normal Expander */		
	
.project-description {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.small-border {
    height: 2px;
    width: 50px;
    background-color: #ddd;
    margin-bottom: 15px;
}

.visit-project {
    width: 100%;
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding: 55px 0 20px 0;
}

.project-description h5 {
    color: #222222;
    text-transform: uppercase;
    margin-bottom: 5px;
}
	
	
	
/* Portfolio FullScreen Expander */			
	
#cycle-loader {
    height: 32px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 32px;
    z-index: 999;
}

#arrow_left {
    top: 50%;
    height: 60px;
    position: absolute;
    left: 30px;
    width: 32px;
    z-index: 1000;
    margin-top: -30px;
}

#arrow_right {
    top: 50%;
    height: 60px;
    position: absolute;
    right: 30px;
    width: 32px;
    z-index: 1000;
    margin-top: -30px;
}

#arrow_left:hover, #arrow_right:hover {
    margin-top: -28px;
}

#arrow_left:active, #arrow_right:active {
    margin-top: -28px;
}

div.mc-image {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.in-slide-content div.info-slide {
    background: #FFF url(images/info.png) no-repeat left bottom;
    background-size: 46px 46px;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 46px;
    height: 46px;
    margin: 0;
    display: block;
    text-indent: 10px;
    -moz-border-radius: 23px;
    -webkit-border-radius: 23px;
    border-radius: 23px;
    cursor: pointer;
    z-index: 1000;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=0.5);
    opacity: 0.5;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

.in-slide-content div.info-slide:hover {
    width: 200px;
    background: #FFF;
    position: absolute;
    bottom: 40px;
    padding: 10px 20px;
    text-indent: 0px;
    /* moz-border-radius: 0px; */
    -webkit-border-radius: 0px;
    border-radius: 0px;
    z-index: 1000;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    opacity: 1;
}

.in-slide-content h2, .in-slide-content p {
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 24px;
}

.in-slide-content h2 {
    font-size: 14px;
    color: #444;
    text-shadow: none;
    font-weight: normal;
    text-transform: uppercase;
    z-index: 1001;
    position: relative;
    white-space: nowrap;
}

.info-slide p {
    color: #aaa;
    font-size: 13px;
    text-shadow: none;
    z-index: 1001;
    position: relative;
    margin: 0;
    font-weight: normal;
    white-space: nowrap;
}

.in-slide-content div.info-slide h2 {
    display: none;
    padding: 10px 10px 0 10px;
}

.in-slide-content div.info-slide p {
    display: none;
    padding: 0px 10px 10px 10px;
}

.in-slide-content div.info-slide:hover h2, .in-slide-content div.info-slide:hover p {
    display: inherit;
    padding: 0;
}

/*
   Media Queries
--------------------------- */
@media (min-width: 1000px) and (max-width: 1200px) {

	.aboutUs-container {
		background-repeat: no-repeat;
		background-position: right;
		background-size: auto 59%;
		background-position-y: 150px;
	}
}
@media (max-width: 1000px) {
	.navStyle {
		float: right;
		width: auto; 
		text-align: center;
	}
	.btn-cont {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.btn-cont a:first-child {
		margin-bottom: 8px;
		letter-spacing: 4.58px;
	}
	.aboutUs-container{
		background-image:none;
	}
	p{
		font-size:12px;
		text-align: center;
	}
	.top_cont_outer { 
		height: 350px;
	}
	.hero_section {
		position: relative;
		padding-top: 10px;
	}
	.top_left_cont {
		padding: 38px 0;
	}
	.top_left_cont h2 {
		font-size: 20px;
		color: #FFF;
		line-height: 39px;
		margin: 0 0 9px 0;
	}
	.inner_section {
		padding: 20px 0 20px;
	}
	#aboutUs img{
		margin-bottom:25px;
	}
	#aboutUs h3{
		font-size:26px;
		line-height:22px;
		text-align: center;
	}
	#filters ul{
		padding-left:0px;
	}
	.page_section.team{
		padding: 40px 0;
	}
	.social_links {
		justify-content: center;
	}
	.contact_section{
		margin:0;
	}
	h2, .contact_section h2 {
		font-size: 30px;
	}
	.page_section.contact {
		padding: 60px 0 50px;
	} 
	.navbar-inverse .navbar-toggle .icon-bar{
		background:rosybrown;
	}
	.navbar-inverse .navbar-toggle {
		border-color: transparent;
	}
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
		background:none;
		outline: none;
	}
	.navStyle ul li {
		display: block;
	}
	.navStyle {
		float: right;
		width: 100%;
		text-align:center;
	}
	.navbar {
		border: 0px solid #fff;
		min-height: 40px;
		margin-bottom: 0px;
		float: right;
	}
	.navStyle ul li {
		display: block;
		margin: 0px;
	}
	.navStyle ul li:last-child {
		margin: 0px;
	}
	.navbar-inverse .navbar-nav > li > a {
		color: #222; 
		font-size:12px;
		padding: 10px 11px;
	}
	.grid figure {
		min-width: 100%;
	}
	.form .input-text {
		margin-top: 50px;
	}
	.exp-container .card {
		margin: 0 60px;
	}
} 
@media (max-width: 480px){ 
	.navStyle {
		float: left;
		width: 100%; 
		text-align: left;
	}
	.navbar {
		border: 0px solid #fff;
		min-height: 40px;
		margin-bottom: 0px;
		float: initial;
		width: 100%;
	}
}

.exp-container .card {
	border: solid 1px black;
	padding: 30px;
	height: 33em;
	overflow-y: scroll;
	margin-bottom: 20px;
}
.exp-container .card h3 strong {
	color: black;
	font-weight: 600;
	letter-spacing: 1px;
}
.exp-container li {
	list-style: none;
}
.modal-content h3, a {
	letter-spacing: 2px;
}
.modal-header {
	padding: 0px;
	margin-top: 16px;
}
.modal-header, .modal-body {
	text-align: center;
}
.modal-body {
	max-height: 650px;
	overflow-y: scroll;
	margin-bottom: 10px;
	padding: 15px 30px;
}
.modal-body a:focus {
	color: purple;
}
.modal-body img{
	margin-bottom: 10px;
}

